In [4]:
import os 

import pandas as pd
import numpy as np
# from matplotlib import pyplot as plt
import matplotlib.pyplot as plt
import seaborn as sns

from sql_functions import read_query

In [5]:
query = 'select * from customers;'
read_query(query)

AttributeError: 'CMySQLCursor' object has no attribute 'culmn_names'

In [ ]:
query = 'select * from customers;'
read_query(query)

# Assuming read_query function returns a pandas DataFrame

AttributeError: 'CMySQLCursor' object has no attribute 'culmn_names'