In [13]:
import os

import mysql.connector
# from mysql import connector
from dotenv import load_dotenv
import pandas as pd

In [14]:
load_dotenv()

#print(os.getenv('USER'))
user = os.getenv('USER')
password = os.getenv('PASSWORD')
host = os.getenv('HOST')
database = 'swiftmarket'

In [15]:
password

'abc@123'

In [19]:
connection = mysql.connector.connect(user=user,
                                     password=password,
                                     host=host,
                                     database=database )

cursor = connection.cursor()

In [17]:
connection.is_connected()

True

In [20]:
query = '''show tables'''
cursor.execute(query)
rows = cursor.fetchall()
for row in rows:
    print(row)

('categories',)
('customers',)
('employees',)
('salesdata',)
('subcategories',)
('suppliers',)

In [23]:
query = '''select * from salesdata limit 5;'''
cursor.execute(query)
rows = cursor.fetchall()
for row in rows:
    print(row)

(23000, 'C-2023-100-12', 6002, 1100, datetime.date(2023, 5, 2), 2, Decimal('176432.00'))
(23001, 'C-2023-100-141', 6029, 1115, datetime.date(2023, 12, 26), 2, Decimal('47172.00'))
(23002, 'C-2023-100-86', 6029, 1035, datetime.date(2023, 3, 26), 2, Decimal('47172.00'))
(23003, 'C-2023-100-72', 6006, 1016, datetime.date(2023, 8, 1), 2, Decimal('117644.00'))
(23004, 'C-2023-100-142', 6030, 1067, datetime.date(2023, 3, 6), 5, Decimal('336560.00'))

In [24]:
cursor.column_names

('SaleID',
 'CustomerID',
 'SubcatID',
 'EmployeeID',
 'SaleDate',
 'Quantity',
 'TotalPrice')

In [26]:
pd.DataFrame(data=rows, columns=cursor.column_names)

,SaleID,CustomerID,SubcatID,EmployeeID,SaleDate,Quantity,TotalPrice
0,23000,C-2023-100-12,6002,1100,2023-05-02,2,176432.00
1,23001,C-2023-100-141,6029,1115,2023-12-26,2,47172.00
2,23002,C-2023-100-86,6029,1035,2023-03-26,2,47172.00
3,23003,C-2023-100-72,6006,1016,2023-08-01,2,117644.00
4,23004,C-2023-100-142,6030,1067,2023-03-06,5,336560.00

In [27]:
query = '''select * from customers limit 5;'''
read_query(query)

NameError: name 'read_query' is not defined